<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  
  <div class="ion-no-margin">
    <div class="img-logo">
      <img src="../../../assets/icon/ChefPerfil.png" alt="Imagen Chef">
      <ion-text class="ion-text-center">
        <h5 class="usuario">¿Dónde desea comer?</h5>
      </ion-text>
    </div>
  </div>

  <div class="seccion-form">
    <div class="miperfil">
      <img *ngIf="tipomesa == '2'" src="../../../assets/fondos/local1.jpg" alt="Cocina Dentro" class="segmento">
      <img *ngIf="tipomesa == '1'" src="../../../assets/fondos/Terraza.jpg" alt="Terraza" class="segmento">
  
      <ion-segment [(ngModel)]="tipomesa">
        <ion-segment-button class="color" value="2" name="dentro">
          <ion-label>Dentro</ion-label>
          <ion-icon name="restaurant-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button class="color" value="1" name="terraza">
          <ion-label>Terraza</ion-label>
          <ion-icon name="sunny-outline"></ion-icon>
          </ion-segment-button>
      </ion-segment>

      <div class="ion-text-center ion-margin">
        <ion-button expand="block" class="ion-margin boton-inicio txt-marcado" (click)="confirmarSeleccion()">
          Confirmar Selección
          <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
        </ion-button>
      </div> 
    </div>
  </div>
</ion-content>
