<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mesas Terraza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="ion-no-margin calendario">
    <ion-datetime [(ngModel)]="fechaReserva" presentation="date" [preferWheel]="true"></ion-datetime>
  </div>

  <div class="seccion-form">
    <div class="mesas-menu">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let mesa of mesas">
            <ion-button expand="block" class="boton-inicio" [disabled]="mesa.reservada" (click)="reservarMesa(mesa)">
              M{{mesa.numero}}
              <ion-icon name="restaurant-outline" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="ion-text-center ion-margin">
        <ion-button expand="block" class="ion-margin btn boton-inicio txt-marcado" (click)="confirmarReserva()">
          Confirmar Selección
          <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
        </ion-button>
      </div> 
    </div>
  </div>
</ion-content>
