<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mesas Terraza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="ion-no-margin">
    <div class="img-logo">
      <img src="../../../assets/icon/ChefPerfil.png" alt="Imagen Chef">
      <ion-text class="ion-text-center">
        <h5 class="usuario">Selecciona una mesa</h5>
      </ion-text>
    </div>
  </div>

  <div class="seccion-form">
    <div class="miperfil">
      <div class="asientos-disponibles">
        <ion-grid>
       
          <ion-row>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T1')"
                color="primary"
                (click)="seleccionarAsiento('T1')">
                <ion-icon name="restaurant-outline"></ion-icon> T1
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T1')"
                color="danger"
                (click)="seleccionarAsiento('T1')">
                <ion-icon name="restaurant-outline"></ion-icon> T1
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T2')"
                color="primary"
                (click)="seleccionarAsiento('T2')">
                <ion-icon name="restaurant-outline"></ion-icon> T2
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T2')"
                color="danger"
                (click)="seleccionarAsiento('T2')">
                <ion-icon name="restaurant-outline"></ion-icon> T2
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T3')"
                color="primary"
                (click)="seleccionarAsiento('T3')">
                <ion-icon name="restaurant-outline"></ion-icon> T3
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T3')"
                color="danger"
                (click)="seleccionarAsiento('T3')">
                <ion-icon name="restaurant-outline"></ion-icon> T3
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T4')"
                color="primary"
                (click)="seleccionarAsiento('T4')">
                <ion-icon name="restaurant-outline"></ion-icon> T4
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T4')"
                color="danger"
                (click)="seleccionarAsiento('T4')">
                <ion-icon name="restaurant-outline"></ion-icon> T4
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T5')"
                color="primary"
                (click)="seleccionarAsiento('T5')">
                <ion-icon name="restaurant-outline"></ion-icon> T5
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T5')"
                color="danger"
                (click)="seleccionarAsiento('T5')">
                <ion-icon name="restaurant-outline"></ion-icon> T5
              </ion-button>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T6')"
                color="primary"
                (click)="seleccionarAsiento('T6')">
                <ion-icon name="restaurant-outline"></ion-icon> T6
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T6')"
                color="danger"
                (click)="seleccionarAsiento('T6')">
                <ion-icon name="restaurant-outline"></ion-icon> T6
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T7')"
                color="primary"
                (click)="seleccionarAsiento('T7')">
                <ion-icon name="restaurant-outline"></ion-icon> T7
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T7')"
                color="danger"
                (click)="seleccionarAsiento('T7')">
                <ion-icon name="restaurant-outline"></ion-icon> T7
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T8')"
                color="primary"
                (click)="seleccionarAsiento('T8')">
                <ion-icon name="restaurant-outline"></ion-icon> T8
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T8')"
                color="danger"
                (click)="seleccionarAsiento('T8')">
                <ion-icon name="restaurant-outline"></ion-icon> T8
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T9')"
                color="primary"
                (click)="seleccionarAsiento('T9')">
                <ion-icon name="restaurant-outline"></ion-icon> T9
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T9')"
                color="danger"
                (click)="seleccionarAsiento('T9')">
                <ion-icon name="restaurant-outline"></ion-icon> T9
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T10')"
                color="primary"
                (click)="seleccionarAsiento('T10')">
                <ion-icon name="restaurant-outline"></ion-icon> T10
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T10')"
                color="danger"
                (click)="seleccionarAsiento('T10')">
                <ion-icon name="restaurant-outline"></ion-icon> T10
              </ion-button>
            </ion-col>
          </ion-row>
         
          <ion-row>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T11')"
                color="primary"
                (click)="seleccionarAsiento('T11')">
                <ion-icon name="restaurant-outline"></ion-icon> T11
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T11')"
                color="danger"
                (click)="seleccionarAsiento('T11')">
                <ion-icon name="restaurant-outline"></ion-icon> T11
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T12')"
                color="primary"
                (click)="seleccionarAsiento('T12')">
                <ion-icon name="restaurant-outline"></ion-icon> T12
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T12')"
                color="danger"
                (click)="seleccionarAsiento('T12')">
                <ion-icon name="restaurant-outline"></ion-icon> T12
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T13')"
                color="primary"
                (click)="seleccionarAsiento('T13')">
                <ion-icon name="restaurant-outline"></ion-icon> T13
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T13')"
                color="danger"
                (click)="seleccionarAsiento('T13')">
                <ion-icon name="restaurant-outline"></ion-icon> T13
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T14')"
                color="primary"
                (click)="seleccionarAsiento('T14')">
                <ion-icon name="restaurant-outline"></ion-icon> T14
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T14')"
                color="danger"
                (click)="seleccionarAsiento('T14')">
                <ion-icon name="restaurant-outline"></ion-icon> T14
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('T15')"
                color="primary"
                (click)="seleccionarAsiento('T15')">
                <ion-icon name="restaurant-outline"></ion-icon> T15
              </ion-button>
              <ion-button 
                *ngIf="isSelected('T15')"
                color="danger"
                (click)="seleccionarAsiento('T15')">
                <ion-icon name="restaurant-outline"></ion-icon> T15
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="ion-text-center ion-margin">
        <ion-button expand="block" class="ion-margin boton-inicio txt-marcado" [routerLink]="['/reservar']">
          Confirmar Selección
          <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
        </ion-button>
      </div> 
    </div>
  </div>
</ion-content>
