.fondo{
    --background: linear-gradient(to right, #4e3725, #2d1b14);
    min-height: 100%;
}
  
.seccion-form{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65vh;

    .color{
        color: #4e3725;
        --indicator-color: #4e3725;
    }
}
.mesas-menu{
    background: rgb(211, 210, 210);
    color: #4e3725;
    border-radius: 50px 50px 0px 0px;
    padding: 10px;
    text-align: center;
    height: 100%;
}
  
.ion-color{
    color: #4e3725;
}
.boton-inicio{
    --ion-color-primary: #4e3725;
    color: #fff;
}
.txt-marcado{
    font-weight: bold;
}

.calendario{
    display: flex;
    justify-content: center;
    height: 170px;
    margin-top: 10px;
    ion-datetime {
        --background: rgb(245, 235, 247);
        --background-rgb: 245, 235, 247;
        --wheel-highlight-background: rgb(218, 216, 255);
        --wheel-highlight-border-radius: 48px;
        --wheel-fade-background-rgb: 245, 235, 247;
        border-radius: 30px;
      }
      
      ion-datetime::part(wheel-item) {
        color: #4e3725;
      }
      
      ion-datetime::part(wheel-item active) {
        color: rgb(172, 99, 39);
    }
}
