<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-title>Acerca de Nosotros</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  
  <div>
    <ion-thumbnail>
        <img src="../../../assets/icon/ChefPerfil.png" alt="Imagen Chef">
    </ion-thumbnail>
  </div>
  
  <div class="globo-texto">
  <ion-text class="ion-margin-top">
    <h5 class="ion-text-center">
      Somos uno de los mejores restaurantes del país, donde ofrecemos una amplia gama de platillos tanto chilenos como internacionales. 
      Nuestro compromiso es brindar una experiencia culinaria excepcional que deleite todos los sentidos.
    </h5>
  </ion-text>
 <swiper-container [pagination]="true" [loop]="true" class="platos-cotizados">
    <swiper-slide><img src="../../assets/fondos/cocina1.jpg" alt="plato1"></swiper-slide>
    <swiper-slide><img src="../../assets/fondos/local1.jpg" alt="plato1"></swiper-slide>
    <swiper-slide><img src="../../assets/fondos/comida3.jpg" alt="plato1"></swiper-slide>
    <swiper-slide><img src="../../assets/fondos/comida4.jpg" alt="plato1"></swiper-slide>
  </swiper-container>


  </div>
  
 


  
</ion-content>

<ion-footer>
  <h5 class="ion-align-items-end">Sazon y Arte Company </h5>
</ion-footer>