.cafe-toolbar{
    --background: rgb(156, 100, 16);
}

ion-list.cafe-list{
    --background-color:rgb(156, 100, 16);
}
ion-thumbnail {
    --size: 140px;
    --border-radius: 14px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.globo-texto {
    background-color: rgba(68, 41, 0, 0.671); 
    color: white; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px; 
    margin: 20px; 
    text-align: center;
  }
  swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-text-color-step-800, #cccccc);
    --swiper-pagination-color: rgb(70, 42, 0);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}
  
swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-text-color-step-800, #cccccc);
    --swiper-pagination-color: rgb(70, 42, 0);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}
  
swiper-container{
    width: 80%;
    height: 20%;
}
swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}