<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="titulo">Acerca de nosotros</h1>
      </ion-col>
      <ion-col>
        <img class="logo" src="../../assets/icon/ChefPerfil.png" alt="LogoSazon"> 
      </ion-col>
    </ion-row>
  </ion-grid>



  <div class="Conteiner-nosotros">
  <ion-text class="ion-margin-top">
    <h5 class="ion-text-center">
      Somos uno de los mejores restaurantes del país, donde ofrecemos una amplia gama de platillos tanto chilenos como internacionales. 
      Nuestro compromiso es brindar una experiencia culinaria excepcional que deleite todos los sentidos.
    </h5>
  </ion-text>

  <swiper-container [pagination]="true" [loop]="true" class="nosotros-text">
    <swiper-slide>
      <ion-card class="ion-margin">
        <img alt="Promocion" src="../../assets/fondos/local1.jpg"/>
        <ion-card-header>
          <ion-card-title class="texto">Local Sazon y Arte </ion-card-title>
          <ion-card-subtitle class="texto">Nuestro orgullo</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p class="texto">Gracias a nuestro esfuerzo y pasion por la cocina, el local sazon y arte es una realidad, 
            donde siempre nos enfocamos en brindar la mejor experiencia a nuestros clientes.</p>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
 <swiper-slide>
        <ion-card class="ion-margin">
          <img alt="Promocion" src="../../assets/fondos/cocina1.jpg"/>
          <ion-card-header>
            <ion-card-title class="texto">Cocina</ion-card-title>
            <ion-card-subtitle class="texto">En donde la magia y el arte surge</ion-card-subtitle>
            <ion-card-content>
              <p class="texto">En nuestros nuestros cocineros altamente capacitados, se esfuerzan arduamente cada dia para brindar la mejor experiencia al paladar de nuestros consumidores</p>
            </ion-card-content>
          </ion-card-header>
  </ion-card>        
  </swiper-slide>
  </swiper-container>


  </div>
  
 


  
</ion-content>
