.cafe-toolbar{
    --background: rgb(156, 100, 16);
}

ion-list.cafe-list{
    --background-color:rgb(156, 100, 16);
}
ion-thumbnail {
    --size: 140px;
    --border-radius: 14px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.globo-texto {
    background-color: rgba(68, 41, 0, 0.671); 
    color: white; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px; 
    margin: 20px; 
    text-align: center;
  }