<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Editar Mesa</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">

  <div class="ion-no-margin">
    <div class="img-logo">
      <img src="../../../assets/icon/ChefPerfil.png" alt="Imagen Chef">
    </div>
  </div>

  <div class="seccion-form">
    <form action="" class="agregarmesa">
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="restaurant-outline" slot="start"></ion-icon>
        <ion-input type="tel" maxlength="2" placeholder="Numero de mesa" label="Nro Mesa" label-placement="floating" fill="clear" color="dark" [(ngModel)]="mesas.nombre" name="NroMesa"></ion-input>
      </ion-item>
      
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="restaurant-outline" slot="start"></ion-icon>
        <ion-input type="tel" maxlength="1" placeholder="Cantidad de sillas" label="Sillas" label-placement="floating" fill="clear" color="dark" [(ngModel)]="mesas.c_sillas" name="sillas"></ion-input>
      </ion-item> 
      
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="wine-outline" slot="start"></ion-icon>
        <ion-select aria-label="TipoMesas" placeholder="Selecciona el tipo de mesa" color="dark" name="opciones" [(ngModel)]="mesas.id_ubi_fk">
          <ion-select-option value="2" color="dark">Local</ion-select-option>
          <ion-select-option value="1" color="dark">Terraza</ion-select-option>
        </ion-select>
      </ion-item>
    
      <div class="ion-text-center ion-margin">
        <ion-button expand="block" class="ion-margin boton-inicio txt-marcado" (click)="editarMesa()">
          Confirmar
          <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
        </ion-button>
        <ion-button expand="block" class="ion-margin boton-inicio txt-marcado" [routerLink]="['/mesas']">
          Cancelar
          <ion-icon slot="end" name="close-outline"></ion-icon>
        </ion-button>
      </div> 
    </form>
  </div>
</ion-content>
