<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-title>Listado de Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="ion-no-margin">
    <div class="img-logo">
      <img src="../../../assets/icon/ChefPerfil.png" alt="Imagen Chef">
    </div>
  </div>

  <div class="ion-padding mis-reservas">
    <ion-card *ngFor="let r of reserva">
      <ion-card-header>
        <ion-card-title>Reserva ID: {{ r.id_reserva }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Cliente:</strong> {{ r.id_usuario_fk }}</p>
        <p><strong>Fecha:</strong> {{ r.f_reserva | date:"dd MMMM yyyy" }}</p>
        <p><strong>Hora:</strong> {{ r.id_bloque_fk }}</p>
        <p><strong>Fecha Creación:</strong> {{ r.f_creacion | date:"dd MMMM yyyy" }}</p>
        <p><strong>Ubicación:</strong> {{ r.id_mesa_fk }}</p>
      </ion-card-content>
      <div>
        <button mat-fab class="cancelar-button" (click)="eliminarReserva(r.id_reserva)">
          <mat-icon class="color-button espacio" fontIcon="delete"></mat-icon>
          Cancelar reserva
        </button>
      </div>
    </ion-card>
  </div>

  <div>
    <button mat-fab class="boton-inicio" [routerLink]="['/home']">
      Volver al inicio
      <mat-icon class="color-inicio espacio" fontIcon="home"></mat-icon>
    </button>
  </div>
</ion-content>
