<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="ion-padding">
    <ion-card *ngIf="reservaConfirmada">
      <ion-card-header>
        <ion-card-title>Detalles de la Reserva</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Mesa Reservada:</strong> {{ mesaReservada }}</p>
        <p><strong>Fecha de la Reserva:</strong> {{ diaReserva }}</p>
        <p><strong>Ubicación:</strong> {{ ubicacionReserva }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!reservaConfirmada">
      <ion-card-header>
        <ion-card-title>No hay reservas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>No tienes ninguna reserva activa.</p>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" color="danger" *ngIf="reservaConfirmada" (click)="cancelarReserva()">
      Cancelar Reserva
    </ion-button>
  </div>
</ion-content>
