<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-title>Mis Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="ion-no-margin">
    <div class="img-logo">
      <img src="../../../assets/icon/ChefPerfil.png" alt="Imagen Chef">
    </div>
  </div>

  <div class="ion-padding mis-reservas">
    <ion-card *ngIf="reservaConfirmada == true">
      <ion-card-header>
        <ion-card-title>Detalles de la Reserva</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Mesa Reservada:</strong> Nro {{ mesaReservada.numero }}</p>
        <p><strong>Fecha de la Reserva:</strong> {{ diaReserva | date:'dd-MM-yyyy' }}</p>
        <p><strong>Ubicacion:</strong> {{ ubicacionReserva }}</p>
      </ion-card-content>
      <div>
        <button mat-fab class="cancelar-button" (click)="cancelarReserva()">
          <mat-icon class="color-button espacio" fontIcon="delete"></mat-icon>
          Cancelar Reserva
        </button>
      </div>
    </ion-card>

    <ion-card *ngIf="reservaConfirmada == false">
      <ion-card-header>
        <ion-card-title>No hay reservas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>No tienes ninguna reserva activa.</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <button mat-fab class="boton-inicio" [routerLink]="['/home']">
      Volver al inicio
      <mat-icon class="color-inicio espacio" fontIcon="home"></mat-icon>
    </button>
  </div>

</ion-content>
