<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mesas Local</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="ion-no-margin">
    <div class="img-logo">
      <img src="../../../assets/icon/ChefPerfil.png" alt="Imagen Chef">
      <ion-text class="ion-text-center">
        <h5 class="usuario">Selecciona una mesa</h5>
      </ion-text>
    </div>
  </div>

  <div class="seccion-form">
    <div class="miperfil">
      <div class="asientos-disponibles">
        <ion-grid>
         
          <ion-row>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L1')"
                color="primary"
                (click)="seleccionarAsiento('L1')">
                <ion-icon name="restaurant-outline"></ion-icon> L1
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L1')"
                color="danger"
                (click)="seleccionarAsiento('L1')">
                <ion-icon name="restaurant-outline"></ion-icon> L1
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L2')"
                color="primary"
                (click)="seleccionarAsiento('L2')">
                <ion-icon name="restaurant-outline"></ion-icon> L2
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L2')"
                color="danger"
                (click)="seleccionarAsiento('L2')">
                <ion-icon name="restaurant-outline"></ion-icon> L2
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L3')"
                color="primary"
                (click)="seleccionarAsiento('L3')">
                <ion-icon name="restaurant-outline"></ion-icon> L3
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L3')"
                color="danger"
                (click)="seleccionarAsiento('L3')">
                <ion-icon name="restaurant-outline"></ion-icon> L3
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L4')"
                color="primary"
                (click)="seleccionarAsiento('L4')">
                <ion-icon name="restaurant-outline"></ion-icon> L4
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L4')"
                color="danger"
                (click)="seleccionarAsiento('L4')">
                <ion-icon name="restaurant-outline"></ion-icon> L4
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L5')"
                color="primary"
                (click)="seleccionarAsiento('L5')">
                <ion-icon name="restaurant-outline"></ion-icon> L5
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L5')"
                color="danger"
                (click)="seleccionarAsiento('L5')">
                <ion-icon name="restaurant-outline"></ion-icon> L5
              </ion-button>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L6')"
                color="primary"
                (click)="seleccionarAsiento('L6')">
                <ion-icon name="restaurant-outline"></ion-icon> L6
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L6')"
                color="danger"
                (click)="seleccionarAsiento('L6')">
                <ion-icon name="restaurant-outline"></ion-icon> L6
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L7')"
                color="primary"
                (click)="seleccionarAsiento('L7')">
                <ion-icon name="restaurant-outline"></ion-icon> L7
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L7')"
                color="danger"
                (click)="seleccionarAsiento('L7')">
                <ion-icon name="restaurant-outline"></ion-icon> L7
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L8')"
                color="primary"
                (click)="seleccionarAsiento('L8')">
                <ion-icon name="restaurant-outline"></ion-icon> L8
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L8')"
                color="danger"
                (click)="seleccionarAsiento('L8')">
                <ion-icon name="restaurant-outline"></ion-icon> L8
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L9')"
                color="primary"
                (click)="seleccionarAsiento('L9')">
                <ion-icon name="restaurant-outline"></ion-icon> L9
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L9')"
                color="danger"
                (click)="seleccionarAsiento('L9')">
                <ion-icon name="restaurant-outline"></ion-icon> L9
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L10')"
                color="primary"
                (click)="seleccionarAsiento('L10')">
                <ion-icon name="restaurant-outline"></ion-icon> L10
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L10')"
                color="danger"
                (click)="seleccionarAsiento('L10')">
                <ion-icon name="restaurant-outline"></ion-icon> L10
              </ion-button>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L11')"
                color="mesa-select"
                (click)="seleccionarAsiento('L11')">
                <ion-icon name="restaurant-outline"></ion-icon> L11
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L11')"
                color="danger"
                (click)="seleccionarAsiento('L11')">
                <ion-icon name="restaurant-outline"></ion-icon> L11
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L12')"
                color="primary"
                (click)="seleccionarAsiento('L12')">
                <ion-icon name="restaurant-outline"></ion-icon> L12
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L12')"
                color="danger"
                (click)="seleccionarAsiento('L12')">
                <ion-icon name="restaurant-outline"></ion-icon> L12
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L13')"
                color="primary"
                (click)="seleccionarAsiento('L13')">
                <ion-icon name="restaurant-outline"></ion-icon> L13
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L13')"
                color="danger"
                (click)="seleccionarAsiento('L13')">
                <ion-icon name="restaurant-outline"></ion-icon> L13
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L14')"
                color="primary"
                (click)="seleccionarAsiento('L14')">
                <ion-icon name="restaurant-outline"></ion-icon> L14
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L14')"
                color="danger"
                (click)="seleccionarAsiento('L14')">
                <ion-icon name="restaurant-outline"></ion-icon> L14
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                *ngIf="!isSelected('L15')"
                color="primary"
                (click)="seleccionarAsiento('L15')">
                <ion-icon name="restaurant-outline"></ion-icon> L15
              </ion-button>
              <ion-button 
                *ngIf="isSelected('L15')"
                color="danger"
                (click)="seleccionarAsiento('L15')">
                <ion-icon name="restaurant-outline"></ion-icon> L15
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="ion-text-center ion-margin">
        <ion-button expand="block" class="ion-margin boton-inicio txt-marcado" [routerLink]="['/reservar']">
          Confirmar Selección
          <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
        </ion-button>
      </div> 
    </div>
  </div>
</ion-content>
