<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mesas Terraza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="ion-no-margin">
    <div class="img-logo">
      <img src="../../../assets/icon/ChefPerfil.png" alt="Imagen Chef">
      <ion-text class="ion-text-center">
        <h5 class="usuario">Selecciona una mesa</h5>
      </ion-text>
    </div>
  </div>

  <div class="seccion-form">
    <div class="miperfil">
      <div class="asientos-disponibles">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L1')" [color]="L1Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L1
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L2')" [color]="L2Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L2
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L3')" [color]="L3Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L3
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L4')" [color]="L4Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L4
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L5')" [color]="L5Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L5
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L6')" [color]="L6Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L6
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L7')" [color]="L7Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L7
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L8')" [color]="L8Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L8
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L9')" [color]="L9Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L9
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L10')" [color]="L10Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L10
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L11')" [color]="L11Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L11
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L12')" [color]="L12Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L12
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L13')" [color]="L13Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L13
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L14')" [color]="L14Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L14
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="seleccionarAsiento('L15')" [color]="L15Elegido ? 'danger' : 'primary'">
                <ion-icon name="restaurant-outline"></ion-icon> L15
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="ion-text-center ion-margin">
        <ion-button expand="block" class="ion-margin boton-inicio txt-marcado" (click)="confirmarSeleccion()">
          Confirmar Selección
          <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
        </ion-button>
      </div> 
    </div>
  </div>
</ion-content>
