.cafe-toolbar{
    --background: rgb(156, 100, 16);
}
ion-thumbnail {
    --size: 200px;
    --border-radius: 14px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: center;
}
.titulo{
    color: rgb(156, 100, 16);
    margin-top: -20px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.globo-texto {
    background-color: rgba(68, 41, 0, 0.671); 
    color: white; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px; 
    margin: 20px; 
    text-align: center;
  }