.fondo{
    --background: linear-gradient(to right, #4e3725, #2d1b14);
}
.img-logo{
    text-align: center;
    img{
        width: 200px;
        margin-right: 18px;
        margin-top: 10px;
    }
}
.titulo{
    margin-top: -20px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

//seccion formulario

.seccion-form{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
}
.recuperar{
    background: rgb(211, 210, 210);
    color: #4e3725;
    border-radius: 50px 50px 0px 0px;
    padding: 10px; 
    text-align: center;
    height: 100%;
    .quitar-linea{
        --border-width: 0;
    }
}

.ion-color{
    color: #4e3725;
}
.boton-inicio{
    margin-top: 30px;
    --ion-color-primary: #4e3725;
    color: #fff;
}
.txt-marcado{
    font-weight: bold;
}
