<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons>
      <button mat-mini-fab aria-label="boton home" class="btn-home" [routerLink]="['/homeadmin']">
        <mat-icon>home</mat-icon>
      </button>
      <ion-title>Listado de Reservas</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="container-reservas">
    <mat-card *ngFor="let r of reserva" class="container-reserva">
      <mat-card-header>
        <mat-icon mat-card-avatar>event</mat-icon>
        <mat-card-title>Reserva ID: {{ r.id_reserva }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Cliente: {{r.id_usuario_fk}}</p>
        <p>Fecha: {{r.f_reserva | date:"dd MMMM yyyy"}}</p>
        <p>Hora: {{r.id_bloque_fk}}</p>
        <p>Fecha Creacion: {{r.f_creacion | date:"dd MMMM yyyy"}}</p>
        <p>Ubicacion: {{r.id_mesa_fk}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="botones-accion-ed" [routerLink]="['/editareserva']"> Editar<mat-icon mat-card-avatar class="icon-edit">edit</mat-icon></button>
        <button mat-button class="botones-accion-del"> Eliminar<mat-icon mat-card-avatar class="icon-del">delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</ion-content>
