.cafe-toolbar{
    --background: rgb(156, 100, 16);
}
ion-thumbnail {
    --size: 200px;
    --border-radius: 14px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: center;
}
.titulo{
    color: rgb(156, 100, 16);
    margin-top: -20px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}