<ion-header [translucent]="true">
  <ion-toolbar class="cafe-toolbar">
    <ion-title class="ion-text-center">Inicio Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">
  <ion-text class="ion-margin">
    <h1 class="ion-margin-start">Sazón Y Arte <img src="../../../assets/icon/cheflogoo (2).png" alt="Imagen Chef"></h1>
  </ion-text>
  <ion-text class="ion-margin-top">
    <p class="ion-padding">El mejor restaurante de Chile, donde disfrutarás de platos deliciosos y un ambiente único. ¡Te esperamos!</p>
  </ion-text>
  <form action="">
    <ion-item class="ion-margin-end ion-margin-top ion-color">
      <ion-input label="Usuario" label-placement="floating" fill="clear" color="dark"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-end ion-margin-top ion-color">
      <ion-input type="Password" label="Contraseña" label-placement="floating" fill="clear" color="dark"></ion-input>
      
    </ion-item>
    <ion-text class="ion-text-end">
      <p class="ion-margin-end ion-padding-top">Recuperar Contraseña?</p>
    </ion-text>
    <div class="ion-text-center">
      <ion-button class="ion-margin-top ion-margin-bottom" color="dark" shape="round" [routerLink]="['/home']">Iniciar Sesión</ion-button>
    </div>
  </form>

  <ion-text class="ion-text-center">
    <p>No tienes una cuenta? <span [routerLink]="['/register']"><b>Registrate</b></span></p>
  </ion-text>
</ion-content>

<ion-footer>
  <h5 class="ion-align-items-end">Sazon y Arte Company </h5>
</ion-footer>