<ion-header>
  <ion-toolbar class="cafe-toolbar">
    <ion-title class="ion-text-center">Inicio Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="cafe-toolbar">
  <div class="ion-margin-start">
    <ion-text>
      <h1 class="ion-text-center">Sazón Y Arte <img src="../../../assets/icon/cheflogoo (2).png" alt="Imagen Chef"></h1>
    </ion-text>
  </div>
  <ion-text class="">
    <p class="ion-text-center">El mejor restaurante de Chile, donde disfrutarás de platos deliciosos y un ambiente único. ¡Te esperamos!</p>
  </ion-text>
  <form action="">
    <ion-item class="ion-margin-horizontal ion-color">
      <ion-input label="Usuario" label-placement="floating" fill="clear"></ion-input>
    </ion-item>
    
    <ion-item class="ion-margin-horizontal ion-color">
      <ion-input type="password" label-placement="floating" label="Contraseña"  fill="clear">
      </ion-input>
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-item>
  </form>
</ion-content>