ion-menu::part(backdrop) {
    background-color: #4e3725;
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px #4e3725;
}

.menu-toolbar{
    --background: #4e3725;
}