ion-menu::part(backdrop) {
    background-color: #4e3725;
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px #4e3725;
}

.menu-toolbar{
  --background: #4e3725;
}

.cuerpo-menu{
  --background: white;

  ion-list{
    margin-top: 20px;
    padding: 0;

  }

  ion-item{
    color: #4e3725;
    --background: white;
    font-weight: bold;

    ion-icon{
      color: #4e3725;
      
    }
  }
}
.menu-footer{
  --background: #4e3725;
  color: white;
  

  ion-item{
    color: white;
    --background: #4e3725;
    font-weight: bold;
    text-align: center;

    ion-label{
      margin-right: 35px;
    }
  }
}
.color{
  color:white;
}