<ion-app>
  <ion-router-outlet>
    <ion-app>
      <ion-menu contentId="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item routerLink="/home">Inicio</ion-item>
            <ion-item routerLink="/login">Iniciar sesión</ion-item>
            <ion-item routerLink="/register">Registrarse</ion-item>
            <ion-item routerLink="/mesas">Mesas</ion-item>
            <ion-item routerLink="/reservar">Reservar Mesas</ion-item>
            <!-- Agrega más elementos de menú según sea necesario -->
          </ion-list>
        </ion-content>
      </ion-menu>
    
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-app>
    
  </ion-router-outlet>
</ion-app>
