.fondo{
    --background: linear-gradient(to right, #4e3725, #2d1b14);
}
ion-thumbnail {
    --size: 200px;
    --border-radius: 14px;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 10px;
    justify-content: center;
}
.titulo{
    margin-top: -20px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

//seccion formulario

.seccion-form{
    position: fixed;
    top: 35%; /* Ajusta según sea necesario */
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.registro{
    background: rgb(211, 210, 210);
    color: #4e3725;
    border-radius: 50px 50px 0px 0px;
    padding: 10px; 
    text-align: center;
    height: 50rem;
}

.ion-color{
    color: #4e3725;
}
.boton-inicio{
    margin-top: 30px;
    --ion-color-primary: #4e3725;
    color: #fff;
}
.txt-marcado{
    font-weight: bold;
}
