<ion-header [translucent]="true">
  <ion-toolbar class="cafe-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="cafe-toolbar">
  <div class="ion-margin-start">
    <ion-text>
      <h1 class="ion-text-center">Registro <img src="../../../assets/icon/cheflogoo (2).png" alt="Imagen Chef"></h1>
    </ion-text>
  </div>

  <form action="">
    <ion-item class="ion-margin-horizontal ion-color">
      <ion-input label="Nombre Completo" label-placement="floating" fill="clear" color=dark></ion-input>
    </ion-item>

    <ion-item class="ion-margin-horizontal ion-color">
      <ion-input label="Nombre de usuario" label-placement="floating" fill="clear" color=dark></ion-input>
    </ion-item>

    <ion-item class="ion-margin-horizontal ion-color">
      <ion-input label="Numero de telefono" label-placement="floating" fill="clear" color=dark></ion-input>
    </ion-item>

    <ion-item class="ion-margin-horizontal ion-color">
      <ion-input label="Correo electronico" label-placement="floating" fill="clear" color=dark></ion-input>
    </ion-item>

    <ion-item class="ion-margin-horizontal ion-color">
      <ion-input type="password" label-placement="floating" label="Contraseña"  fill="clear" color=dark>
      </ion-input>
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-item>
    <div class="ion-text-center">
      <ion-button type="submit"  class="ion-margin-top" shape="round">Registrarse</ion-button>
    </div>
  </form>
</ion-content>




