<ion-header [translucent]="true"  >
  <ion-toolbar  class="fondo">
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="img-logo">
    <img src="../../../assets/icon/ChefPerfil.png" alt="Imagen Chef">
  </div>
    
  <div class="seccion-form">
    <form action="" class="registro" #form="ngForm">
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="person-outline" slot="start"></ion-icon>
        <ion-input placeholder="Maximo 25 caracteres" label="Nombre y Apellido" label-placement="floating" maxlength="25" color="dark" name="nombreyApellido" [(ngModel)]="nombreyApellido"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="id-card-outline" slot="start"></ion-icon>
        <ion-input type = "tel" placeholder="EJ : 213781145 (Sin guion)" label="Rut" label-placement="floating" maxlength="9" color="dark" name="rut" [(ngModel)]="rut"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="people-outline" slot="start"></ion-icon>
        <ion-input placeholder="Maximo 15 caracteres" label="Nombre Usuario" label-placement="floating" maxlength="15" color="dark" name="usuario" [(ngModel)]="usuario"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Contraseña (MAX 12 C.)" color=dark name="contrasenia" maxlength="12" [(ngModel)]="contrasenia">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Repetir Contraseña" color=dark name="nuevaContrasenia" maxlength="12" [(ngModel)]="nuevaContrasenia">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="call-outline" slot="start"></ion-icon>
        <ion-input type="tel" label="Telefono" label-placement="floating" placeholder="EJ : 123456789" color="dark" maxlength="9" name="telefono" [(ngModel)]="telefono"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Ingresa Correo valido" label="Correo Electronico" label-placement="floating" class="quitar-linea" errorText="Correo Invalido" name="correo" [(ngModel)]="correo" ngModel email></ion-input>
      </ion-item>

      <div class="ion-text-center">
        <ion-button class="ion-margin-top ion-margin-bottom boton-inicio txt-marcado" shape="round" (click)="IrLogin()" [disabled]="form.invalid">Registrarse</ion-button>
      </div>
    
    </form>
  </div>
</ion-content>



