<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-buttons>
      <button mat-mini-fab aria-label="boton home" class="btn-home" [routerLink]="['/homeadmin']">
        <mat-icon>home</mat-icon>
      </button>
      <ion-title>Listado de Usuarios</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-searchbar animated="true" placeholder="Ingrese el Rut" class="ion-margin-top search-bar"></ion-searchbar>
  <div class="container-usuarios">
    <!-- Listar usuarios utilizando *ngFor -->
    <mat-card *ngFor="let usuario of usuarios" class="container-usuario">
      <mat-card-header>
        <mat-icon mat-card-avatar>person</mat-icon>
        <mat-card-title>{{ usuario.nombreyApellido }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Rut: {{ usuario.rut }}</p>
        <p>Usuario: {{ usuario.nombreUsuario }}</p>
        <p>Correo: {{ usuario.correo }}</p>
        <p>Teléfono: {{ usuario.telefono }}</p>
      </mat-card-content>
      <mat-card-actions class="action-buttons">
        <button mat-button class="botones-accion-del">
          Restablecer
          <mat-icon mat-card-avatar class="icon-del">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ion-content>

