<ion-header [translucent]="true" >
  <ion-toolbar class="fondo">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fecha Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class=" calendario">
      <mat-calendar [(selected)]="fechaSelec" [minDate]="minDate" [maxDate]="maxDate"  (selectedChange)="CambioFecha()">></mat-calendar>
  </div>

  <p class="parrafo ion-text-center">SELECCIONE UNA HORA</p>
  <div class="bloque-hora">
    <ion-item class="ion-color">
      <ion-select class="ion-text-center" [(ngModel)]="bloqueSele" (ngModelChange)="CambioBloque()">
        <ion-select-option disabled>Desliza para ver más</ion-select-option>
        <ion-select-option *ngFor="let hora of bloque" [value]="hora.id_bloque">        
        Inicio: {{hora.h_inicio}} - Termino: {{hora.h_fin}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <p *ngIf="buscarMesa == ''" class="ion-text-center ion-margin-top parrafo"> SELECCIONE UNA CATEGORIA</p>

  <ion-toolbar class="fondo">
    <ion-segment [(ngModel)]="buscarMesa" (ionChange)="listarMesas(buscarMesa)">
      <ion-segment-button value="2" class="color-blanco">
        <ion-label>Mesas Local</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1" class="color-blanco">
        <ion-label>Mesas Terraza</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="container-mesas" *ngIf="buscarMesa == '2'">
    <p *ngIf="!fechaSelec || !bloqueSele" class="ion-text-center ion-margin-top aviso">
      seleccione una <strong>fecha</strong> y una <strong>hora</strong> para ver las mesas disponibles
    </p>
    <ion-grid >
      <ion-row *ngIf="fechaSelec && bloqueSele ">
        <ion-col size="6" *ngFor="let mesa of mesas">
          <mat-card class="container-mesa">
            <mat-card-header>
              <mat-card-title>{{mesa.nombre | uppercase}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <br>
              <p>{{mesa.id_ubi_fk}}</p>
              <p>Sillas: {{mesa.c_sillas}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="botones-accion-des" (click)="Reservar(mesa.id_mesa)"><mat-icon mat-card-avatar class="icon-des">done_all</mat-icon>Reservar</button>
            </mat-card-actions>
          </mat-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  

  <div class="container-mesas" *ngIf="buscarMesa == '1'">
    <p *ngIf="!fechaSelec || !bloqueSele" class="ion-text-center aviso">
      seleccione una <strong>fecha</strong> y una <strong>hora</strong> para ver las mesas disponibles
    </p>
    <ion-grid>
      <ion-row *ngIf="fechaSelec && bloqueSele ">
        <ion-col size="6" *ngFor="let mesa of mesas">
          <mat-card class="container-mesa">
            <mat-card-header>
              <mat-card-title>{{mesa.nombre | uppercase}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <br>
              <p>{{mesa.id_ubi_fk}}</p>
              <p>Sillas: {{mesa.c_sillas}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="botones-accion-des" (click)="Reservar(mesa.id_mesa)"><mat-icon mat-card-avatar class="icon-des">done_all</mat-icon>Reservar</button>
            </mat-card-actions>
          </mat-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
