.fondo{
    --background: linear-gradient(to right, #4e3725, #2d1b14);
}

ion-list.cafe-list{
    --background-color:rgb(156, 100, 16);
}
ion-thumbnail {
    --size: 140px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.globo-texto {
    background-color: rgba(68, 41, 0, 0.671); 
    color: white; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px; 
    margin: 20px; 
    text-align: center;
  }
  .seccion-form{
    position: fixed;
    top: 40%; 
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .contacto{
    background: rgb(211, 210, 210);
    color: #4e3725;
    border-radius: 50px 50px 0px 0px;
    padding: 10px; 
    text-align: center;
    height: 40rem;
  }
  .ion-color{
      color: #4e3725;
  }
  .boton-inicio{
      margin-top: 30px;
      --ion-color-primary: #4e3725;
      color: #fff;
  }
  .txt-marcado{
      font-weight: bold;
  }

  .list-contacto{
    background-color: rgb(211, 210, 210);
    color: #4e3725;
    top:25px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 0px; 
    bottom: 0;
}