<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-title>Contacto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="img-logo">
    <img src="../../../assets/icon/ChefPerfil.png" alt="Imagen Chef">
  </div>

  <div class="seccion-form">
    <form action="" class="contacto" #form="ngForm">
      <h5 class="ion-margin-top">Tienes un mensaje? Envialo!</h5>
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="person-outline" slot="start"></ion-icon>
        <ion-input placeholder="Maximo 25 caracteres" label="Nombre y Apellido" label-placement="floating" maxlength="25" color="dark" name="nombreyApellido" [(ngModel)]="nombreyApellido"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="call-outline" slot="start"></ion-icon>
        <ion-input type="tel" label="Telefono" label-placement="floating" placeholder="EJ : 123456789" color="dark" maxlength="9" name="telefono" [(ngModel)]="telefono"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Ingresa Correo valido" label="Correo Electronico" label-placement="floating" class="quitar-linea" errorText="Email invalido" name="correo" [(ngModel)]="correo" ngModel email></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="send-outline" slot="start"></ion-icon>
        <ion-textarea label="Mensaje" label-placement="floating" placeholder="Escribe tu mensaje" color="dark" name="mensaje" [(ngModel)]="mensaje"></ion-textarea>
      </ion-item>
      <div class="ion-text-center ion-margin-bottom">
        <ion-button type="submit" class="ion-margin boton-inicio txt-marcado" shape="round" [disabled]="form.invalid" (click)="enviarFormulario()">Enviar Formulario</ion-button>
      </div>
      <p>O llama al <b>+569 1234 5678</b></p>
    </form>
  </div>
</ion-content>
