<ion-header [translucent]="true">
  <ion-toolbar id="rojo">
    <ion-buttons slot="start" id="rojo">
      <ion-menu-button id="rojo"></ion-menu-button> 
    </ion-buttons>
    <ion-title id="rojo">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="rojo">
  <ion-header collapse="condense" id="rojo">
    <ion-toolbar id="rojo">
      <ion-title size="large" id="rojo">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" id="rojo">
    <strong>Bienvenido a Sazon y Arte</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

<ion-footer>
  
</ion-footer>