<ion-header [translucent]="true">
  <ion-toolbar class="cafe-toolbar">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="cafe-toolbar">
  <div class="ion-no-margin">
    <h3 class="titulo">Bienvenido {{nombreUsuario}}</h3>
  </div>
  <div class="globo-texto">
    <ion-text class="ion-margin-top">
      <h5 class="ion-text-center">
        En donde cada plato es una obra de arte, cuidadosamente elaborado con ingredientes frescos y de alta calidad, para ofrecerte una experiencia culinaria que no solo satisface el paladar, sino que también despierta todos los sentidos.
      </h5>
    </ion-text>
  </div>
</ion-content>

<ion-footer>
</ion-footer>