.fondo{
    --background: linear-gradient(to right, #4e3725, #2d1b14);
}

.titulo{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 10px;
}

// Platos Cotizados
swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-text-color-step-800, #cccccc);
    --swiper-pagination-color: rgb(70, 42, 0);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}
  
.platos-cotizados{
    width: 80%;
    height: 20%;
}
.platos-cotizados swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

// Clientes

.clientes{
    width: 100%;
    height: auto;
}
.clientes swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}